# =====================================================================
# Envoy specific Bazel build/test options.
# =====================================================================

# Keep envoy.bazelrc up-to-date by run:
# curl -sSL https://raw.githubusercontent.com/envoyproxy/envoy-wasm/master/.bazelrc > envoy.bazelrc
import %workspace%/envoy.bazelrc

# Overrides workspace_status_command
build --workspace_status_command=tools/get_workspace_status
build:remote --remote_timeout=7200

# Enable path normalization by default.
# See: https://github.com/envoyproxy/envoy/pull/6519
build --define path_normalization_by_default=true
test --define path_normalization_by_default=true
