# https://clangd.llvm.org/config
Index:
  StandardLibrary: Yes
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader:
      - "asm/unistd_32.h" # private -> use unistd.h
      - "asm/unistd_64.h" # private -> use unistd.h
      - "bits/basic_string\\.h" # private -> use string
      - "google/protobuf/.*" # checked by envoy linting -> use source/common/protobuf/protobuf.h
      - "linux/in\\.h" # private -> use netinet/in.h
      - "linux/in6\\.h" # private -> use netinet/in.h
      - "mutex" # checked by envoy linting -> use source/common/common/thread.h
# CompileFlags:
#   CompilationDatabase: ./compile_commands.json
#   # Unfortunately, above config isn't working as expected.
#   # Therefore it's recommended to use clangd argument
#   # `--compile-commands-dir=<working_dir>` to improve the
#   # clangd support for the external Envoy bazel-dependencies.
#   # See https://github.com/clangd/clangd/discussions/907
