name: CI Build & Push
on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  build-and-push-prs:
    timeout-minutes: 360
    name: Build and push multi-arch images
    runs-on: ubuntu-latest-64-cores-256gb
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

    - name: Cache Docker layers
      uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
      with:
        path: /tmp/buildx-cache
        key: docker-cache-${{ github.head_ref }}
        restore-keys: docker-cache-${{ github.base_ref }}

    - name: Login to quay.io
      uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_ENVOY_USERNAME_DEV }}
        password: ${{ secrets.QUAY_ENVOY_PASSWORD_DEV }}

    - name: Checkout PR
      uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Prep for build
      run: |
        echo "${{ github.event.pull_request.head.sha }}" >SOURCE_VERSION
        echo "BAZEL_VERSION=$(cat .bazelversion)" >> $GITHUB_ENV
        echo "BUILDER_DOCKER_HASH=$(git ls-tree --full-tree HEAD -- ./Dockerfile.builder | awk '{ print $3 }')" >> $GITHUB_ENV

    - name: Checking if cilium-envoy-builder image exists
      id: cilium-builder-tag-in-repositories
      shell: bash
      run: |
        if docker buildx imagetools inspect quay.io/${{ github.repository_owner }}/cilium-envoy-builder-dev:${{ env.BAZEL_VERSION }}-${{ env.BUILDER_DOCKER_HASH }} &>/dev/null; then
          echo exists="true" >> $GITHUB_OUTPUT
        else
          echo exists="false" >> $GITHUB_OUTPUT
        fi

    - name: PR Multi-arch build & push of Builder image (dev)
      uses: docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9 # v4.2.1
      if: steps.cilium-builder-tag-in-repositories.outputs.exists == 'false'
      id: docker_build_builder_ci
      with:
        provenance: false
        context: .
        file: ./Dockerfile.builder
        platforms: linux/amd64,linux/arm64
        push: true
        tags: quay.io/${{ github.repository_owner }}/cilium-envoy-builder-dev:${{ env.BAZEL_VERSION }}-${{ env.BUILDER_DOCKER_HASH }}

    - name: CI Builder Image Digest
      if: steps.cilium-builder-tag-in-repositories.outputs.exists == 'false'
      shell: bash
      run: |
        echo "Digests:"
        echo "quay.io/${{ github.repository_owner }}/cilium-envoy-dev:${{ env.BAZEL_VERSION }}-${{ env.BUILDER_DOCKER_HASH }}@${{ steps.docker_build_builder_ci.outputs.digest }}"

    - name: Retrieve Archive image
      id: cilium_archive_tag
      shell: bash
      run: |
        if docker buildx imagetools inspect quay.io/${{ github.repository_owner }}/cilium-envoy-builder:${{ github.base_ref }}-archive-latest &>/dev/null; then
          echo archive_image="quay.io/${{ github.repository_owner }}/cilium-envoy-builder:${{ github.base_ref }}-archive-latest" >> $GITHUB_OUTPUT
        else
          # Fallback to master archive image
          echo archive_image="quay.io/${{ github.repository_owner }}/cilium-envoy-builder:master-archive-latest" >> $GITHUB_OUTPUT
        fi

    - name: PR Multi-arch build & push of cilium-envoy
      uses: docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9 # v4.2.1
      id: docker_build_ci
      with:
        provenance: false
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        build-args: |
          BUILDER_BASE=quay.io/cilium/cilium-envoy-builder-dev:${{ env.BAZEL_VERSION }}-${{ env.BUILDER_DOCKER_HASH }}
          ARCHIVE_IMAGE=${{ steps.cilium_archive_tag.outputs.archive_image }}
          BAZEL_BUILD_OPTS=--remote_upload_local_results=false
        cache-from: type=local,src=/tmp/buildx-cache
        cache-to: type=local,dest=/tmp/buildx-cache,mode=max
        push: true
        tags: |
          quay.io/${{ github.repository_owner }}/cilium-envoy-dev:${{ github.event.pull_request.head.sha }}
          quay.io/${{ github.repository_owner }}/cilium-envoy-dev:${{ github.base_ref }}-${{ github.event.pull_request.head.sha }}

    - name: Envoy binary version check
      shell: bash
      run: |
        docker create -ti --name cilium-envoy quay.io/${{ github.repository_owner }}/cilium-envoy-dev:${{ github.event.pull_request.head.sha }} bash
        docker cp cilium-envoy:/usr/bin/cilium-envoy ./cilium-envoy
        docker rm -fv cilium-envoy
        envoy_version=$(./cilium-envoy --version)
        expected_ersion=$(echo ${{ github.base_ref }} | sed 's/^v//')
        echo ${envoy_version}
        [[ "${envoy_version}" == *"${{ github.event.pull_request.head.sha }}/$expected_ersion"* ]]

    - name: CI Image Digest
      shell: bash
      run: |
        echo "Digests:"
        echo "quay.io/${{ github.repository_owner }}/cilium-envoy-dev:${{ github.event.pull_request.head.sha }}@${{ steps.docker_build_ci.outputs.digest }}"
        echo "quay.io/${{ github.repository_owner }}/cilium-envoy-dev:${{ github.base_ref }}-${{ github.event.pull_request.head.sha }}@${{ steps.docker_build_ci.outputs.digest }}"
