name: Refresh test & build cache & build latest
on:
  push:
    branches:
      - v1.35

jobs:
  build-envoy-images-release:
    uses: ./.github/workflows/build-envoy-images-release-base.yaml
    with:
      release_debug: false
    secrets: inherit
