name: Cilium Gateway API Tests
on:
  workflow_call:
    inputs:
      repository:
        description: 'Github Repository to run the workflow on.'
        type: string
        required: true
        default: cilium/proxy
      commit_ref:
        description: 'Git commit ref for image.'
        type: string
        required: true

concurrency:
  group: gateway-api-${{ github.workflow }}-${{ inputs.repository }}-${{ github.event.pull_request.number || github.event.after || inputs.commit_ref }}
  cancel-in-progress: true

# By specifying the access of one of the scopes, all of those that are not specified are set to 'none'.
permissions:
  # To be able to access the repository with actions/checkout
  contents: read
  # To allow writing PR comments and setting emojis
  pull-requests: write

env:
  # renovate: datasource=github-releases depName=kubernetes-sigs/kind
  KIND_VERSION: v0.30.0
  CILIUM_REPO_OWNER: cilium
  CILIUM_REPO_REF: main
  CILIUM_CLI_REF: latest
  CURL_PARALLEL: ${{ vars.CURL_PARALLEL || 10 }}

jobs:
  cilium-gateway-api-tests:
    timeout-minutes: 360
    name: Cilium Gateway API Tests
    if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
    runs-on: ubuntu-latest
    steps:
      - name: Prepare variables for PR
        if: inputs.commit_ref != ''
        run: |
          echo "PROXY_IMAGE=quay.io/cilium/cilium-envoy-dev" >> $GITHUB_ENV
          echo "PROXY_TAG=${{ inputs.commit_ref }}" >> $GITHUB_ENV

      - name: Checkout Cilium ${{ env.CILIUM_REPO_REF }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: ${{ env.CILIUM_REPO_OWNER }}/cilium # Be aware that this is the Cilium repository and not the one of the proxy itself!
          ref: ${{ env.CILIUM_REPO_REF }}
          persist-credentials: false

      - name: Extracting Cilium version
        run: |
          echo "CILIUM_IMAGE_TAG=v$(cat ./VERSION)" >> $GITHUB_ENV

      - name: Install Cilium CLI ${{ env.CILIUM_CLI_REF }}
        run: |
          versionPattern="^v[0-9]+\.[0-9]+\.[0-9]+$"
          if [[ ${{ env.CILIUM_CLI_REF }} =~ $versionPattern ]]; then
            curl -sSL --remote-name-all https://github.com/cilium/cilium-cli/releases/download/${{ env.CILIUM_CLI_REF }}/cilium-linux-amd64.tar.gz{,.sha256sum}
            sha256sum --check cilium-linux-amd64.tar.gz.sha256sum
            sudo tar xzvfC cilium-linux-amd64.tar.gz /usr/local/bin
            rm cilium-linux-amd64.tar.gz{,.sha256sum}
          else
            cid=$(docker create quay.io/cilium/cilium-cli-ci:${{ env.CILIUM_CLI_REF }} ls)
            sudo docker cp $cid:/usr/local/bin/cilium /usr/local/bin
            docker rm $cid
          fi
          cilium version

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          version: ${{ env.KIND_VERSION }}
          config: '.github/kind-config.yaml'
          cluster_name: 'kind'

      - name: Install Gateway API CRDs
        env:
          timeout: 5m
        run: |
          gateway_api_version=$(grep -m 1 "sigs.k8s.io/gateway-api" go.mod | awk '{print $2}' | awk -F'-' '{print (NF>2)?$NF:$0}')
          # Install Gateway CRDs
          kubectl apply --server-side -f https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/$gateway_api_version/config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
          kubectl apply --server-side -f https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/$gateway_api_version/config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
          kubectl apply --server-side -f https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/$gateway_api_version/config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
          kubectl apply --server-side -f https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/$gateway_api_version/config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
          kubectl apply --server-side -f https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/$gateway_api_version/config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
          ## TLSRoute is only available in experimental channel in v0.7.0
          kubectl apply --server-side -f https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/$gateway_api_version/config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml

          # To make sure that Gateway API CRs are available
          kubectl wait --for condition=Established crd/gatewayclasses.gateway.networking.k8s.io --timeout=${{ env.timeout }}
          kubectl wait --for condition=Established crd/gateways.gateway.networking.k8s.io --timeout=${{ env.timeout }}
          kubectl wait --for condition=Established crd/httproutes.gateway.networking.k8s.io --timeout=${{ env.timeout }}
          kubectl wait --for condition=Established crd/tlsroutes.gateway.networking.k8s.io --timeout=${{ env.timeout }}
          kubectl wait --for condition=Established crd/grpcroutes.gateway.networking.k8s.io --timeout=${{ env.timeout }}
          kubectl wait --for condition=Established crd/referencegrants.gateway.networking.k8s.io --timeout=${{ env.timeout }}

      - name: Install Cilium
        timeout-minutes: 10
        shell: bash
        run: |
          cilium install \
            --chart-directory install/kubernetes/cilium \
            --helm-set kubeProxyReplacement=true \
            --helm-set gatewayAPI.enabled=true \
            --helm-set l2announcements.enabled=true \
            --helm-set bpf.monitorAggregation=none \
            --helm-set loadBalancer.l7.backend=envoy \
            --helm-set tls.readSecretsOnlyFromSecretsNamespace=true \
            --helm-set tls.secretSync.enabled=true \
            --helm-set disableEnvoyVersionCheck=true \
            --helm-set envoy.image.repository=${{ env.PROXY_IMAGE }} \
            --helm-set envoy.image.tag=${{ env.PROXY_TAG }} \
            --helm-set envoy.image.useDigest=false \
            --helm-set debug.enabled=true \
            --helm-set debug.verbose=envoy

          cilium hubble enable
          cilium status --wait
          cilium hubble port-forward&

      - name: Install Cilium LB IPPool and L2 Announcement Policy
        timeout-minutes: 10
        run: |
          KIND_NET_CIDR=$(docker network inspect kind -f '{{json .IPAM.Config}}' | jq -r '.[] | select(.Subnet | test("^[0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+")) | .Subnet')
          echo "KIND_NET_CIDR: $KIND_NET_CIDR"
          LB_CIDR=$(echo ${KIND_NET_CIDR} | sed "s@0.0/16@255.200/28@")
          echo "LB_CIDR: $LB_CIDR"

          echo "Deploying LB-IPAM Pool..."
          cat << EOF > pool.yaml
          apiVersion: "cilium.io/v2"
          kind: CiliumLoadBalancerIPPool
          metadata:
            name: "pool"
          spec:
            blocks:
              - cidr: "$LB_CIDR"
          EOF
          cat pool.yaml
          kubectl apply -f pool.yaml

          echo "Deploying L2-Announcement Policy..."
          cat << 'EOF' > l2policy.yaml
          apiVersion: "cilium.io/v2alpha1"
          kind: CiliumL2AnnouncementPolicy
          metadata:
            name: l2policy
          spec:
            loadBalancerIPs: true
            interfaces:
              - eth0
            nodeSelector:
              matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: DoesNotExist
          EOF
          cat l2policy.yaml
          kubectl apply -f l2policy.yaml

      - name: Run Gateway API conformance test
        timeout-minutes: 30
        run: |
          KIND_NET_CIDR=$(docker network inspect kind -f '{{json .IPAM.Config}}' | jq -r '.[] | select(.Subnet | test("^[0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+")) | .Subnet')
          echo "KIND_NET_CIDR: $KIND_NET_CIDR"
          GATEWAY_API_CONFORMANCE_USABLE_NETWORK_ADDRESSES=$(echo ${KIND_NET_CIDR} | sed "s@0.0/16@255.206@")
          GATEWAY_API_CONFORMANCE_UNUSABLE_NETWORK_ADDRESSES=$(echo ${KIND_NET_CIDR} | sed "s@0.0/16@255.216@")
          echo "GATEWAY_API_CONFORMANCE_USABLE_NETWORK_ADDRESSES: $GATEWAY_API_CONFORMANCE_USABLE_NETWORK_ADDRESSES"
          echo "GATEWAY_API_CONFORMANCE_UNUSABLE_NETWORK_ADDRESSES: $GATEWAY_API_CONFORMANCE_UNUSABLE_NETWORK_ADDRESSES"
          EXEMPT_FEATURES="HTTPRouteParentRefPort,MeshConsumerRoute"

          GATEWAY_API_CONFORMANCE_TESTS=1 \
            GATEWAY_API_CONFORMANCE_USABLE_NETWORK_ADDRESSES=$GATEWAY_API_CONFORMANCE_USABLE_NETWORK_ADDRESSES  \
            GATEWAY_API_CONFORMANCE_UNUSABLE_NETWORK_ADDRESSES=$GATEWAY_API_CONFORMANCE_UNUSABLE_NETWORK_ADDRESSES \
            go test \
              -p 4 \
              -v ./operator/pkg/gateway-api \
              --gateway-class cilium \
              --all-features \
              --exempt-features $EXEMPT_FEATURES \
              --allow-crds-mismatch \
              -test.run "TestConformance" \
              -test.timeout=29m \
              -test.skip "${{ steps.vars.outputs.skipped_tests }}"

      - name: Gather Cilium system dump
        if: failure()
        shell: bash
        run: cilium sysdump --output-filename cilium-sysdump-final

      - name: Upload Cilium system dump
        if: failure()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: cilium-gateway-api-test-sysdumps
          path: cilium-sysdump-*.zip
          retention-days: 5
