name: Cilium Integration Tests
on:
  workflow_call:
    inputs:
      repository:
        description: 'Github Repository to run the workflow on.'
        type: string
        required: true
        default: cilium/proxy
      commit_ref:
        description: 'Git commit ref for image.'
        type: string
        required: true

concurrency:
  group: integration-test-${{ github.workflow }}-${{ inputs.repository }}-${{ github.event.pull_request.number || github.event.after || inputs.commit_ref }}
  cancel-in-progress: true

# By specifying the access of one of the scopes, all of those that are not specified are set to 'none'.
permissions:
  # To be able to access the repository with actions/checkout
  contents: read
  # To allow writing PR comments and setting emojis
  pull-requests: write

env:
  # renovate: datasource=github-releases depName=kubernetes-sigs/kind
  KIND_VERSION: v0.31.0
  CILIUM_REPO_OWNER: cilium
  CILIUM_REPO_REF: main
  CILIUM_CLI_REF: latest
  CURL_PARALLEL: ${{ vars.CURL_PARALLEL || 10 }}

jobs:
  cilium-connectivity-tests:
    timeout-minutes: 360
    name: Cilium Connectivity Tests
    if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
    runs-on: ubuntu-latest
    steps:
      - name: Prepare variables for pushes to main
        if: github.event_name == 'push'
        run: |
          echo "PROXY_IMAGE=quay.io/cilium/cilium-envoy" >> $GITHUB_ENV
          echo "PROXY_TAG=${{ github.sha }}" >> $GITHUB_ENV
          echo "PROXY_GITHUB_REPO=github.com/cilium/proxy" >> $GITHUB_ENV

      - name: Prepare variables for PR
        if: inputs.commit_ref != ''
        run: |
          echo "PROXY_IMAGE=quay.io/cilium/cilium-envoy-dev" >> $GITHUB_ENV
          echo "PROXY_TAG=${{ inputs.commit_ref }}" >> $GITHUB_ENV
          echo "PROXY_GITHUB_REPO=github.com/${{ inputs.repository }}" >> $GITHUB_ENV

      - name: Checkout Cilium ${{ env.CILIUM_REPO_REF }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ env.CILIUM_REPO_OWNER }}/cilium # Be aware that this is the Cilium repository and not the one of the proxy itself!
          ref: ${{ env.CILIUM_REPO_REF }}
          persist-credentials: false

      - name: Extracting Cilium version
        run: |
          echo "CILIUM_IMAGE_TAG=v$(cat ./VERSION)" >> $GITHUB_ENV

      - name: Install Cilium CLI ${{ env.CILIUM_CLI_REF }}
        run: |
          versionPattern="^v[0-9]+\.[0-9]+\.[0-9]+$"
          if [[ ${{ env.CILIUM_CLI_REF }} =~ $versionPattern ]]; then
            curl -sSL --remote-name-all https://github.com/cilium/cilium-cli/releases/download/${{ env.CILIUM_CLI_REF }}/cilium-linux-amd64.tar.gz{,.sha256sum}
            sha256sum --check cilium-linux-amd64.tar.gz.sha256sum
            sudo tar xzvfC cilium-linux-amd64.tar.gz /usr/local/bin
            rm cilium-linux-amd64.tar.gz{,.sha256sum}
          else
            cid=$(docker create quay.io/cilium/cilium-cli-ci:${{ env.CILIUM_CLI_REF }} ls)
            sudo docker cp $cid:/usr/local/bin/cilium /usr/local/bin
            docker rm $cid
          fi
          cilium version

      - name: Create kind cluster
        uses: helm/kind-action@ef37e7f390d99f746eb8b610417061a60e82a6cc # v1.14.0
        with:
          version: ${{ env.KIND_VERSION }}
          config: '.github/kind-config.yaml'
          cluster_name: 'kind'

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          # renovate: datasource=golang-version depName=go
          go-version: 1.25.1

      - name: Install Cilium
        timeout-minutes: 10
        shell: bash
        run: |
          cilium install \
            --chart-directory install/kubernetes/cilium \
            --helm-set bpf.monitorAggregation=none \
            --helm-set loadBalancer.l7.backend=envoy \
            --helm-set=tls.readSecretsOnlyFromSecretsNamespace=true \
            --helm-set=tls.secretSync.enabled=true \
            --helm-set envoy.image.repository=${{ env.PROXY_IMAGE }} \
            --helm-set envoy.image.tag=${{ env.PROXY_TAG }} \
            --helm-set envoy.image.useDigest=false \
            --helm-set disableEnvoyVersionCheck=true \
            --helm-set debug.enabled=true \
            --helm-set debug.verbose=envoy

          cilium status --wait

      - name: Execute Cilium L7 Connectivity Tests
        shell: bash
        run: |
          cilium connectivity test \
          --test="l7|sni|tls|ingress|check-log-errors" \
          --curl-parallel=${{ env.CURL_PARALLEL }} \
          --collect-sysdump-on-failure --flush-ct \
          --flow-validation=disabled \
          --test-concurrency=5

      - name: Gather Cilium system dump
        if: failure()
        shell: bash
        run: cilium sysdump --output-filename cilium-sysdump-final

      - name: Upload Cilium system dump
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cilium-integration-test-sysdumps
          path: cilium-sysdump-*.zip
          retention-days: 5
