name: CI run integration tests
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  tests:
    timeout-minutes: 360
    name: Run integration tests on amd64
    runs-on: ubuntu-20.04
    steps:
      - name: Enable Docker IPv6
        run: |
          modprobe -v ipv6
          sudo sed -i -e '1s!^{!\{ "ipv6": true, "fixed-cidr-v6": "fd00::/80",!' /etc/docker/daemon.json
          sudo systemctl restart docker
      - name: Add swap
        run: |
          set -x
          lsb_release -a
          file="/mnt/swapfile"
          sudo swapoff "${file}"
          sudo fallocate -l 8G "${file}"
          sudo chmod 600 "${file}"
          sudo mkswap "${file}"
          sudo swapon "${file}"
          sudo swapon -s
          free -m
          df -h
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8c0edbc76e98fa90f69d9a2c020dcb50019dc325
        with:
          version: v0.9.1
      - name: Cache Docker layers
        uses: actions/cache@58c146cc91c5b9e778e71775dfe9bf1442ad9a12
        with:
          path: /tmp/buildx-cache
          key: docker-cache-tests
          restore-keys: docker-cache-master
      - name: Checkout PR Source Code
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - name: Pull proxylib/libcilium.so
        run: |
          docker create -ti --name cilium-proxylib quay.io/cilium/cilium:stable bash
          docker cp -L cilium-proxylib:/usr/lib/libcilium.so proxylib/libcilium.so
          docker rm -fv cilium-proxylib
      - name: Prep for build
        run: |
          echo "${{ github.event.pull_request.head.sha }}" >SOURCE_VERSION
          echo "ENVOY_VERSION=$(cat ENVOY_VERSION)" >> $GITHUB_ENV
      - name: Run integration tests on amd64
        uses: docker/build-push-action@37abcedcc1da61a57767b7588cb9d03eb57e28b3
        id: docker_tests_ci
        with:
          context: .
          file: ./Dockerfile.tests
          platforms: linux/amd64
          build-args: |
            BUILDER_IMAGE=quay.io/cilium/cilium-envoy-builder:test-master-archive-latest
            BAZEL_BUILD_OPTS=--remote_upload_local_results=false
          cache-from: type=local,src=/tmp/buildx-cache
          push: false
